{% extends "floodgame/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% include 'snippets/Title.html' %}
{% endblock %}

{% block content %}

{% include 'snippets/Progressbar.html' %}
{% include 'snippets/Earningsbar.html' %}

<br> <br> <br>


        <div class="row">

        {% include 'snippets/Riskblock.html' %}
        {% include 'snippets/Damageblock.html' %}
        {% include 'snippets/Insuranceblock.html' %}

        </div>


<div class="card">
    <h5> You have decided to invest <b>{{mitigation_cost_this_scenario}}</b> and you have received a loan to spread these investment costs.
        You are now in the last year. Please repay the final part of your loan now.
</h5>
</div><br>

<button name="repay_loan" value="repaid_loan" class="btn btn-primary btn-lg"> Pay final {{loan}} loan cost</button>

{% include 'snippets/InstructionsCounter.html' %}

{% endblock %}