{% extends "floodgame/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
{% include 'snippets/Title.html' %}
{% endblock %}

{% block content %}

{% include 'snippets/Progressbar.html' %}
{% include 'snippets/Earningsbar.html' %}

<br><br><br>

    <div class="row">

        {% include 'snippets/Riskblock.html' %}
        {% include 'snippets/Damageblock.html' %}
        {% include 'snippets/Insuranceblock.html' %}

    </div>


<div class="card">
    <h5> You have decided to invest <b>{{mitigation_cost_this_scenario}}</b> and you have received a loan to spread these investment costs.
        <br>That means <b>you pay {{installment}} back to the bank each year until the loan is repaid.</b> <br><br>The interest rate is {{Constants.interest}} percent.
        Please pay your loan cost now.
</h5>
</div>
<br>

<button name="pay_installment" value="paid_installment" class="btn btn-primary btn-lg"> Pay {{loan_cost}} loan cost</button>


{% include 'snippets/InstructionsCounter.html' %}

{% endblock %}