{% extends "floodgame/Surveypage.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Final questionnaire

{% endblock %}


{% block content %}

<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
  <span class="sr-only">{{ progress }} % </span>
  </div>
</div>
<br></br>


{% for field in form %}

{% formfield field %}

{% endfor %}





<button name="next_button"  class="btn btn-primary btn-right btn-lg" > Next </button>

{% endblock %}